<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<div class="center">
		<div id='patient'>
		<h1 ng-click="pat()">진료 일정</h1>
		<Hr>
		<ul ng-repeat="item in items">
		<li ng-click="getPrescription({patient_name:item.patient_name,patient_birthDay:item.patient_birthDay})"><h2>{{item.patient_name}}</h2></li>
		</ul>
		</div>
		<div id='reservation'>
		<h1>예약 일정 </h1>
		<hr>
	
		<h3>{{nowDate}}</h3>
		<table>
			<thead>
			<th>시간</th>
			<th>이름</th>
			<Th>비고</Th>
			</thead>
			<tbody ng-repeat="res in reses">
			<Td>{{res.reservationTime}}</Td>
			<td>{{res.patient}}</td>
			<td>{{res.ex}}</td>
			</tbody>
			
		</table>
	
		</div>
	</div>
</body>
</html>