.docView {border:solid 1px silver;height: auto; background-color: silver; width: 1200px; position: absolute; margin-top: 100px;}

#docNav {height: 70px; background-color: silver; position: absolute; width: 1200px;}