#prescription {margin :20px ; height: auto; text-align: center; background-color: white; }

#type {text-align: left; padding-left: 30px;}

#pre_table {width:900px; margin: auto; text-align: center;}

#prescription .insert {padding:40px}

#prescription #textarea {height:300px; text-align: center;}