
#center { width:1024px; margin:auto; overflow:hidden; }
#nav { background-color: #1f83af; height:70px;  width:1024px; position: absolute;}
#view {background-color: #1f83af; height:auto; width:1024px;margin-top:90px; position: absolute;}