.nav { text-align:center; margin:15px;}
ul {
    list-style-type: none;
}

.text {
	color:white;
	font-weight:bold;
	font-family:sans-serif;
	font-style:italic | inherit;
	font-size: 25px;
	
}


.text:hover{color:red;}

.text:hover .dml{display:block;}

.dml {border: solid 1px red;}

.text .dml{display:none;}

.text {float:left; width:180px;}
