<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<div class="view">
	<div class="title">예약 관리</div>
	<br>
		<div class="button">
			<input type="date" value="2016-04-18" id="ReservationText" ng-model="nowDate">
			<button class="write-btn btn" ng-click="dateSearch()">조회</button>
		</div>
		
		<div id="PatientList">
		<table>
			<thead>
				<tr>
					<th>예약시간</th>
					<th>진료과</th>
					<th>담당의사</th>
					<th>환자이름</th>
					<th>비고</th>	
				</tr>
			</thead>
			<tbody ng-repeat="item in items">
				<tr>
					<td>{{item.reservationTime}}</td>
					<td>{{item.partion}}</td>
					<td>{{item.doctor}} 의사</td>
					<td>{{item.patient}} 환자</td>
					<td>{{item.ex}}</td>
				</tr>

			</tbody>
		</table>
		</div>

		 <div class="page-nation">
            <span>처음</span>
            |
            <span>이전</span>
            <span ng-class="isSelected(1)" ng-click="chageSelectedPage(1)">1</span>
            <span ng-class="isSelected(2)" ng-click="chageSelectedPage(2)">2</span>
            <span>3</span>
            <span>다음</span>
            |
            <span>끝</span>
        </div>
	</div>
</body>
</html>