<head>
	<meta charset="EUC-KR">
</head>
<body>
	<style type="text/css" media="print">
	.nav {display: none}
	</style>
<div class="nav">
<ul>
  <div class="text"><li ng-click="movePage(1)" ng-class='pageTab(1)'>홈</li></div>
  <div class="text"><li ng-click="movePage(2)" ng-class='pageTab(2)'>환자 관리</li></div>
  <div class="text"><li ng-click="movePage(3)" ng-class='pageTab(3)'>예약 관리</li></div>
  <div class="text"><li ng-click="movePage(4)" ng-class='pageTab(4)'>처방전 관리</li></div>
  <div class="text"> <li ng-click="movePage(5)" ng-class='pageTab(5)'>게시물 관리</li></div>
</ul>
</div>
</body>