<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
 <div id='Schedule'>
	<h3>일정 등록</h3>	
	<div id='insertDate'>
	휴가 : <input type="date" ng-model="start"> ~ <input type='date' ng-model='end'>	
	<input type="button" value='조회' ng-click="test()">
	<br><br>
	세미나 : <input type="date"> ~ <input type='date'>	
	<input type="button" value='조회'>
	<br><br>
	외진 : <input type="date"> ~ <input type='date'>	
	<input type="button" value='조회'>
	</div>
 </div>
</body>
</html>