<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
   <div class="onlyprint">
		<h2>처방전</h2>
		<Hr>
		<div id="type">
		<input type="checkbox" checked="checked">의료보험
		<input type="checkbox">의료 급여
		<input type="checkbox">산재보험
		<input type="checkbox">기타
		</div>
		<table border="1" id="pre_table">
		<tr>
		<td colspan="2">교부번호</th>
		<td>  년 월 일 - 제 호</td>
		<td rowspan="3">의<br>료<Br>기<br>관</td>
		<td>명칭</td>
		<td colspan="2"></td>
		</tr>
		<tr ng-repeat="Item in Items">
		
		<td rowspan="2">환자</td>
		<td>성 명</td>
		<td>{{Item.name}}</td>
		<td>전화번호</td>
		<td colspan="2"> (031) 455 - 2345 </td>
		
		</tr>
		<Tr>
		<td>주민등록번호</td>
		<td></td>
		<td>팩스번호</td>
		<td colspan="2">031)524-2345</td>
		</Tr>
		<tr>
		<td rowspan="2" colspan="2">질병<br>식별<br>번호</td>
		<td rowspan="2"></td>
		<td rowspan="2">처 방<br>의료인의<br>성 명</td>
		<td colspan="1" rowspan="2"> (서명 또는 날인)</td>
		<td rowspan="1">면허종별</td>
		<td rowspan="1"></td>
		</tr>
		<Tr>
		<Td rowspan="1">면허번호</Td>
		<td rowspan="1">제 호</td>
		</Tr>
		
		<tr>
		<td colspan="7">※환자의 요구가 있는 때에는 질병분류기호를 기재하지 아니합니다.</td>
		</tr>
		
		<tr>
		<Td colspan="3">처방 의약품의 명칭</Td>
		<Td>1회<br>투약량</Td>
		<td>1일<br>투여<br>횟수</td>
		<td>총<br>투약일수</td>
		<td>용 법</td>
		</tr>
		<tr>
		<td colspan="6">
		<input type='text' class="form-control input-lg" ng-model='ContentsType[0]'>
		</td>
		<td rowspan="5"><textarea type='text' class="form-control input-lg" id='textarea' ng-model="Usage"></textarea></td>
		</tr>
		<tr>
		<td colspan="6">
		<input type='text' class="form-control input-lg" ng-model="ContentsType[1]" >
		</td>
		</tr>
				<tr>
		<td colspan="6" id='test'>
		<input type='text' class="form-control input-lg" ng-model="ContentsType[2]" >
		</td>
		</tr>
				<tr>
		<td colspan="6" id='test'>
		<input type='text' class="form-control input-lg" ng-model="ContentsType[3]" >
		</td>
		</tr>
				<tr>
		<td colspan="6" id='test'>
		<input type='text' class="form-control input-lg" ng-model="ContentsType[4]" >
		</td>
		</tr>
		<tr>
		<td colspan="6"></td>
		<Td>조제시 참고 사항<br></Td>
		</tr>	
		<Tr>
		<td colspan="6">주사제 처방 내역(원내조제 <input type="checkbox"> 원외처방 <input type="checkbox">)</td>
		<td rowspan="5"></td>
		</Tr>	
		<tr>
		<td colspan="3"><br></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td colspan="3"><br></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
				<tr>
		<td colspan="3"><br></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
				<tr>
		<td colspan="3"><br></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>	
		<tr>
		<td>사용기간</td>
		<td colspan="2">교부일로부터(  )일간</td>
		<td colspan="4">사용기간내에 약국에 제출하여야 합니다.</td>
		</tr>	
		<tr>
		<td colspan="7">
		<b>의 약 품 조 제 내 역</b>
		</td>
		</tr>
		<tr>
		<td rowspan="4">조 제<br>내역</td>
		<td>조제기관의<br>명칭</td>
		<td colspan="3"></td>
		<td colspan="2"> 처방의 변경 · 수정 · 확인 · 대체시 그 내용 등</td>
		</tr>
		<tr>
		<td>조제약사</td>
		<td>성명</td>
		<td colspan="2">(서명 또는 날인)</td>
		<Td colspan="2" rowspan="3"></Td>
		</tr>
		<tr>
		<td>조제량<Br>조제일수</td>
		<td colspan="3"></td>
		</tr>
		<tr>
		<td>조제연월일</td>
		<td colspan="3"></td>
		</tr>
		</table>
		<div class='insert'><button class="form-control input-lg" ng-click='PrePrint()'>출력</button></div>
		
	</div> 
</body>
</html>