#search {margin: 20px; text-align:center; background-color: #f7f7f7; height: 760px;}

.title{font-weight:bold; font-size:17px; color:#663149; }

#treatmentList {font-size: 14px; padding:20px}

#treatmentList table {width:100%}

#treatmentList table thead tr th {height:45px; text-align:center; color:#ffffff; background-color:black;}

#treatmentList table tbody tr td { text-align:center; padding:5px 0; border-bottom:1px solid #f0f2f2; }

#prescriptionList {font-size: 14px; padding:20px}

#prescriptionList table{width:100%}

#prescriptionList table thead tr th {height:45px; text-align:center; color:#ffffff; background-color:black;}

#prescriptionList table tbody tr td { text-align:center; padding:5px 0; border-bottom:1px solid #f0f2f2; }
