<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<div id="search">
		<div id="treatmentList">
			<div class="title">진료 리스트</div>
			<input type="text" ng-model="na">
			<button class="write-btn btn" ng-click="PatientSearch()">검색</button>	
			<br><br>
			<table>
				<thead>
					<tr>
					<th>이름</th>
					<th>생년월일</th>
					<th>마지막 방문일</th>
					<th>담당 의사</th>
					</tr>
				</thead>
				<tbody ng-repeat="item in items">
					<tr>
						<td ng-click="transPatient({patient_no:item.patient_no,dept_name:dept_name})">{{item.name}}</td>

						<td>920310</td>
						<td>2016-04-12</td>
						<td>
						<select ng-model="dept_name">
							<option ng-repeat="dept in depts">{{dept.dept_name}}</option>
						</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>	

		
	</div>

	
</body>
</html>